<!DOCTYPE html>
<html>
<head>
    <title>Page2</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap cdn -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
    <style type="text/css">
        .form{
            width: 75%;
            margin: 100px auto;
        }
        .box{
            height:250px;
            border:10px solid white;
            padding-top: 5%;
            text-align: center;
            border-radius: 20px;
            color:white;
        }
        .box:hover{
            background-color: black;
        }
        body{
            font-family: 'Mulish', sans-serif;
            font-weight: normal;
        }
        #icon{

            font-size: 5rem;
        }
        #b1{
            background-color: orange;
        }
        #b2{
            background-color: red;
        }
        #b3{
            background-color: steelblue;
        }
        #b4{
            background-color: #ebd234;
        }
        #b5{
            background-color: lightgreen;
        }
        #b6{
            background-color: #8f42db;
        }
        img{
            height: 500px;
            width: 100%;
        }
        #username{
            color:red;
        }
        #Hno{
            color:steelblue;
        }
        .links{
            color: white;
        }
        .links:hover{
            color: white;
        }
        .navbar-light .navbar-brand{
            color:white;
        }
        .navbar-light .navbar-brand:hover{
            color:steelblue;
        }
        .navbar-light .navbar-nav .nav-link{
            color:white;
        }
        .navbar-light .navbar-nav .nav-link:hover{
            color:steelblue;
        }
        #phone{
            color: steelblue;
        }
        .contact{
            color: lightgreen;
        }
        #map{
            color:red;
        }
        #footer{
            background-color: #232323;
            color:white;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
    <a class="navbar-brand" href="#">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item mx-2">
                <a class="nav-link" href="#">Events</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-2">
                <a class="nav-link" href="#"><i class="fa fa-bell" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" href="#">LogOut <i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="form">
            <form method="post" action="/notification/sendPayment">
                <div class="form-group">
                    <h3>To(Select the house No. of the society member)</h3>
                    <select class="custom-select" name="recipient">
                        <option selected>Select Hno.</option>
                        <%user.forEach( User => {%>
                        <option value="<%=User.phone%>, key"><%=User.username%>, Floor: <%=User.floor%></option>
                        <%})%>
                    </select>
                </div>
                <!--                <%=user%>-->
                <div class="form-group">
                    <label for="sub"><strong>Subject</strong>(Brief description about problem)</label>
                    <input type="text" class="form-control" id="sub" name="title" >
                </div>
                <div class="form-group">
                    <label for="amt"><strong>Amount</strong>(Enter the Amount)</label>
                    <input type="text" class="form-control" id="sub" name="amount" >
                </div>
                <div class="form-group">
                    <div><label for="details"><strong>Details</strong>(Full explanation regarding problem)</label></div>
                    <textarea name="body" id="details" class="form-control" rows="10"></textarea>
                </div>
                <div>
                    <button type="submit" class="btn btn-lg btn-success">Submit</button><br/>
                    <a href="#" class="btn btn-lg btn-danger mt-3">Go Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- <Footer -->
<footer class="page-footer font-small mt-4 pt-4" id="footer">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-4 mt-md-0 mt-3 mb-3">
                <a href="#"> <h5 class="text-uppercase">About Us</h5></a>
                <h5><i class="fa fa-envelope" aria-hidden="true"></i> <span class="contact">Email</span></h5>
                <h5>janhitwelfare27@gmail.com</h5>
            </div>
            <div class="col-md-4 mb-md-0 mb-3">
                <h5><i class="fa fa-phone" id="phone" aria-hidden="true"></i> <span class="contact">Contact Us</span></h5>
                <h5>+91 9800 546 749</h5>
            </div>
            <div class="col-md-4 mb-md-0 mb-3">
                <h5 ><i class="fa fa-map-marker" id="map" aria-hidden="true"></i> <span class="contact">JWA</span></h5>
                <h5>227, Platinum Techno Park, Sector 69B, vashi, Navi Mumbai - 400703.</h5>
            </div>
        </div>
</footer>
<!-- Footer -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
