.box{
    height:250px;
    border:10px solid white;
    padding-top: 5%;
    text-align: center;
    border-radius: 20px;
    color:white;
}
body{
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
}
#icon{

    font-size: 5rem;
}
#b1{
    background-color: orange;
}
#b2{
    background-color: red;
}
#b3{
    background-color: steelblue;
}
#b4{
    background-color: #ebd234;
}
#b5{
    background-color: lightgreen;
}
#b6{
    background-color: #8f42db;
}
img{
    height: 500px;
    width: 100%;
}
#username{
    color:red;
}
#Hno{
    color:steelblue;
}
.navbar-light .navbar-brand{
    color:steelblue;
}
.navbar-light .navbar-brand:hover{
    color:steelblue;
}
.navbar-light .navbar-nav .nav-link{
    color:white;
}
.navbar-light .navbar-nav .nav-link:hover{
    color:steelblue;
}
#phone{
    color: steelblue;
}
.contact{
    color: lightgreen;
}
#map{
    color:red;
}
#footer{
    background-color: #232323;
    color:white;
}
