@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  font-size: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: -70px;
}
.circle-text{
  background-color: #76ead7;
  width:140px;
  border-radius: 100px;
  padding-bottom: 20px;
}

.header {
  min-height: 80vh;
  width: 50vw;
  border-radius: 10px;
  background: #009FFF;
  background: linear-gradient(to right, #99b898, #5ad425);
  clip-path: ellipse(100vw 60vh at 50% 50%);
  display: flex;
  justify-content: center;
  color: black;
}

.details {
  text-align: center;
}

.location p {
  display: inline-block;
}

.location svg {
  vertical-align: middle;
}

.stats {
  display: flex;
}

.stats .col-4 {
  width: 10rem;
  text-align: center;
}

.heading {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 1rem 0;
}
