/*html {*/
/*  position:fixed;*/
/*  top:0;*/
/*  bottom:0;*/
/*  left:0;*/
/*  right:0;*/
/*}*/
body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(270deg, #00f6a7, #77f66e, #07c5f6);
  background-size: cover;
  /*margin:auto;*/
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
}

.profile {
  margin-top: 5%;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 750px;
  max-width: 900px;
}

.profile-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  background: white;
  box-shadow: 0 30px 50px -20px rgba(14, 0, 47, 0.21);
  width: calc(100% - 75px);
  height: calc(100% - 110px);
  z-index: -1;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.profile-image {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 25px 45px -20px rgb(70, 248, 227);
  width: 40%;
  flex: none;
  background-size: cover;
  background-position: center;
}

.profile-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #fff97b;
  opacity: 0.8;
  mix-blend-mode: screen;
}



.profile-info {
  margin-top: 120px;
  padding: 8% 8% 2% 8%;
  position: relative;
  width: 500px;
}

.profile-info h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0.7rem;
  position: absolute;
  animation-fill-mode: both;
}

h1.name {
  top: -115px;
  left: -85px;
}

h1.info {
  top: -50px;
  left: -45px;
  font-size: 2rem;
}

.profile-info h2 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  margin-top: 0;
  margin-bottom: 5%;
}


.profile-info p {
  line-height: 1.5rem;
}


.statistics {
  margin-right: 10px;
  margin-left: 100px;
  line-height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.statistics p {
  margin: 3%;
  flex: auto;
  color: #009b64;
}

.statistics p strong {
  font-size: 1.4rem;
  color: #000;
  font-weight: 200;
  margin-right: 0.3rem;
}


.heading{
  font-size: 1.5em;
  margin: 1em 0 .75em;
  display: flex;
  justify-content: center;
  width: 45rem;
}
